* {
	box-sizing: border-box;
  }
  
  html, body,
  ul, ol, li,
  h1, h2, h3, h4, h5, h6, p, div {
	margin: 0;
	padding: 0;
  }  
  a {
	text-decoration: none;
  }
  
  /* HEADER */
  .container {
	max-width: 1170px;
	margin: 0 auto;
  }

  header {
	height: 150px;
	width: 100%;
	background-color: rgba(34, 49, 52, 1);
	position :fixed;
	top: 0;
	z-index: 10;
  }
  .header-ha {
	text-align: center;
  }
  .header-ha .logo{
	padding-top: 25px;
	width: 200px;
  }

  .header-ha a {
	line-height: 65px;
	padding: 0 25px;
	color: white;
	transition: all 0.5s;
  }
  
  .header-ha a:hover {
	background-color: rgba(255, 255, 255, 0.3);
	padding: 10px;
  }
  /* GAMBAR */  
    .gambar{
	padding: 0px 10%;
	padding-top: 155px;
  }
  body{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	background-color: #ffffff;
  }
  .slide-container{
	max-width: 1120px;
	width: 100%;
  }
  /* SLIDE CONTENT 1 */
  .slide-content1{
	margin: 0 40px;
	overflow: hidden;
  }
  .card{
	border-radius: 25px;
	background-color: #FFF;
	border: 3px solid #20501d;
  }
  .image-content{
	display: flex;
	flex-direction: column;
	align-items: left;
  }
  .card-content{
	position: absolute;
  }
  .card-content h2{
	padding-left: 145px;
  }
  .description{
	font-size: 14px;
	padding-left: 149px;
	color: #707070;
	line-height: 19px;
  }
  .image-content{
	position: relative;
	row-gap: 5px;
	padding: 25px 25px 285px 125px;
  }
  .overlay{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 30%;
	background-color: #1db113;
	border-radius: 22px 12px 12px 22px;
  }
  .card-image{
	position: absolute;
	height: 250px;
	width: 250px;
	left: 20px;
	border-radius: 35px;
	border: 3px solid #fff;
	background: #FFF;
	padding: 3px;
	float: left;
  }
  .card-image .card-img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 35px;
	border: 4px solid #1db113;
  }
  .name{
	font-size: 18px;
	font-weight: 500;
	color: rgb(117, 1, 1);
  }
 
  .button{
	position: absolute;
	border: none;
	font-size: 16px;
	padding: 8px 16px;
	background-color: #1db113;
	border-radius: 6px;
	margin: 14px;
	cursor: pointer;
	top: 230px;
  }
  .button:hover{
	background: #0e5309;
  }
  .button a{
	color: #fff;
  }
  .harga{
	padding: 8px 10px;
	background-color: #1db113;
	color: white;
	border-radius: 6px;
	position: absolute;
	margin-top: 14px;
	margin-left: 95px;
	top: 230px;
	font-size: 14px;
  }